/*1. Default light mode colors*/
:root {
    --bg-color: rgb(255, 224, 224);
    --bungee-color:  rgb(72, 24, 24);
    --playfair-color:  rgb(251, 190, 190);
    --roboto-color: rgb(94, 44, 44);
}

/*2. Dark mode color (activated by javascript) */
[data-theme="dark"] {
    --bg-color: rgb(72, 24, 24);
    --bungee-color:  rgb(255, 224, 224);
    --playfair-color: rgb(94, 44, 44);
    --roboto-color:  rgb(251, 190, 190);
}
body {
    background-color: var(--bg-color);
    transition: background-color 0.4s ease, color 0.4s ease;
    padding: 40px;
    font-family: 'Pinyon Script';
}
/* Style the button to look modern */
#theme-toggle {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    border-color: rgb(68, 15, 15);
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 6px rgb(75, 12, 12);
}
.title{
    color: var(--bungee-color);
    font-size: 4rem;
    width: 1000px !important;
    margin-top: 70px;
    margin-left: 4rem;
    font-family: 'Pinyon Script';
}
 